spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: inventory_user
    password: inventory123
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 9001

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9000/eureka/

application:
  security:
    jwt:
      secret-key: YWZ0ZXJub29uc2F5ZnJlZWRvbWJpcnRodG9uZ3VlZ292ZXJubWVudHNtb290aHBsZW4=


