server:
  port: 9003

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/login/**
            - Method=POST
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/api/orders/**
        - id: inventory-service
          uri: lb://INVENTORY-SERVICE
          predicates:
            - Path=/api/inventory/**

eureka:
  client:
    serviceUrl:
      # UPDATED: Pointing to YOUR Eureka on port 9000
      defaultZone: http://localhost:9000/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

application:
  security:
    jwt:
      secret-key: YWZ0ZXJub29uc2F5ZnJlZWRvbWJpcnRodG9uZ3VlZ292ZXJubWVudHNtb290aHBsZW4=


logging:
  level:
    # Set the main gateway component to TRACE level
    org:
      springframework:
        cloud:
          gateway: TRACE
    # Also useful: reactor.netty.http.client: DEBUG (to check actual connections)